.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.plus-button {
    background-color: chartreuse;
    border-radius: 50%;
}

.plus {
    --t:2px;   /* Thickness */
    --l:40px;  /* size of the symbol */
    --s:10px;  /* space around the symbol */
    --c1:#fff; /* Plus color*/
    --c2:#000; /* background color*/
  
    display:inline-block;
    width:var(--l);
    height:var(--l);
    padding:var(--s);
    box-sizing:border-box; /*Remove this if you don't want space to be included in the size*/
    
    background:
      linear-gradient(var(--c1) 0 0) content-box,
      linear-gradient(var(--c1) 0 0) content-box,
      var(--c2);
    background-position:center;
    background-size: 100% var(--t),var(--t) 100%;
    background-repeat:no-repeat;
  }

  .minus {
    --t:2px;   /* Thickness */
    --l:40px;  /* size of the symbol */
    --s:10px;  /* space around the symbol */
    --c1:#fff; /* Minus color*/
    --c2:#000; /* background color*/
  
    display:inline-block;
    width:var(--l);
    height:var(--l);
    padding:var(--s);
    box-sizing:border-box; /*Remove this if you don't want space to be included in the size*/
    
    background:
      linear-gradient(var(--c1) 0 0) content-box,
      var(--c2);
    background-position:center;
    background-size: 100% var(--t),var(--t) 100%;
    background-repeat:no-repeat;
  }

.circle {
    border-radius: 50%;
}